*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#4D5AE5;
    --secondary:#2E2F42;
    --cloud:#F4F4FD;
    --footer-bg:#2E2F42;
    --color-classic: #FFF;
}
html{
    font-size: 16px;
}
body{
    position: relative;
}
/* General Css */

.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-500{
    font-weight: 500;
}
.container {
    padding: 0 1rem;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
/* Header Css */

header .header-nav address{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .75rem;
}
header .header-nav address a{
    text-decoration: none;
    color: #434455;
    font-size: .75rem;
    line-height: .875rem;
    font-weight: 400;
    letter-spacing: 4%;
}
.header-nav .container{
    height: 3.5rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-nav .nav-links{
    display: none;
}
.header-nav .nav-links a{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: var(--secondary);
    font-size: 1rem;
    line-height:1.5rem;
    letter-spacing: 2%;
    display: flex;
    align-items: center;
    height: 100%;
}
.header-nav .nav-links a.active-link{
    color: #404BBF;
    border-bottom: 3px solid #404BBF;
}
.header-nav .logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 1.5rem;
    font-size: 18px;
    line-height: 21px;
    padding-top: 3px; 
    height: 100%;
}
.header-nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.logo .first-text{
    color: var(--primary);
}


/*Main Css*/

main{
    min-height: calc(100vh - 56px);
}
main .greetings{
    width: 100%;
    height: 432px;
    background-image: url("../assets/images/Dark-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

main .greetings::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2E2F42;
    opacity: .7;
    z-index: 1;
}

/*Section Greetings*/

.greetings .greetings-container{
    max-width: 216px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--color-classic);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    z-index: 2;

}
.greetings-container h1{
    font-size: 2rem;
    text-align: center;
}
.greetings-container button, footer .subscribe button, .modal .contact .send-btn{
    text-transform: capitalize;
    color: var(--color-classic);
    line-height: 1.5rem;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: 4px;
    border: 1px solid var(--primary);
    cursor: pointer;
}
.greetings-container button{
    padding: 1rem 2rem;
}
.greetings-container button:hover{
    opacity: .9;
}

/*Section Our Goals*/

main .our-goals{
    margin: 6rem 0;
}

.our-goals .container{
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
    row-gap: 4.5rem;
    width: 100%;
}
.our-goals .goals-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goals-card figure{
    display: none;
    margin-bottom: .5rem;
}
.goals-card figure, .goals-card img{
    width: 100%;
}
.goals-card .title{
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: var(--secondary);
    text-align: center;
    margin-bottom: .5rem;
    width: 100%;
}
.goals-card .description{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--secondary);
    text-align: center;
    width: 100%;
}

/* Section Our Team*/
.team{
    background-color: var(--cloud);
}
.team .container, .portfolio .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5rem;
    column-gap: 1.5rem;
    padding: 6rem 1.75rem;
}
.team .title{
    color: #2E2F42;
    line-height: 2.5rem;
    font-size: 2.25rem;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 4.5rem;
}
.team .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    column-gap: 2rem;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4229;
}
.team .card .card-body{
    padding: 2rem 1rem;
}

.team .card-title,.team .card-body .card-job{
    text-align: center;
    margin-bottom: .5rem;
}
.team .card-title{
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.team .card-job{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.team .card .social-links{
    display: flex;
    column-gap: 1.5rem;
}
.team .social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary);
    border-radius: 50%;
}

/* Section Portfolio */
.portfolio{
    background-color: var(--color-classic);
}
.portfolio figure{
    position: relative;
    cursor: pointer;
}

.portfolio figure .img-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    z-index: 5;
    padding: 2.5rem 2rem;
    color: var(--color-classic);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 2%;
    font-weight: 400;
    display: none;
}
.portfolio .title{
    color: #2E2F42;
    line-height: 2.5rem;
    font-size: 2.25rem;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 4.5rem;
}
.portfolio .card{
    display: flex;
    flex-direction: column; 
    background-color: #FFF;
    column-gap: 2rem;
    box-shadow: 0px 2px 1px 0px #2E2F4229;
    position: relative;
}
.portfolio .card-title,.portfolio .card-body .card-description{
    text-align: left;
    margin-bottom: .5rem;
}

.portfolio .card-title{
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.portfolio .card .card-body{
    padding: 2rem 1rem;
    display: block ;
}
.portfolio .card-description{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}


/* Footer */

footer{
    background-color: var(--footer-bg);
    color: var(--color-classic);
}
footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5rem;
    column-gap: 1rem;
    padding: 6rem 1.75rem;
}
footer .logo{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    height: 1.5rem;
    font-size: 18px;
    line-height: 21px;
    padding-top: 3px;
}
footer .footer-description{
    width: 100%;
}
footer .social-media{
    width: 100%;
}
footer .logo .first-text{
    color: var(--primary);
}
.footer-description .text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 17.5px;
}
footer .social-links{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}
footer .social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary);
    border-radius: 50%;
}
footer .category-title, footer .subscribe-title{
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-classic);
}
footer .category-title{
    margin-bottom: 1rem;
}
footer .subscribe, footer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
}
footer .subscribe input{
    width: 100%;
    height: 2.5rem;
    font-size: .75rem;
    padding: .5rem 1rem;
    color: var(--color-classic);
    background-color: transparent;
    border: 1px solid var(--color-classic) ;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    outline: none;
}
footer .subscribe button{
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 1.5rem;
}
footer .subscribe button figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .subscribe button img{
    width: 1.5rem;
    height: 1.25rem;
}
footer .subscribe input::placeholder{
    font-family: 'Roboto', sans-serif;
    color: var(--color-classic);
    opacity: .6;
}

/*Menu*/

.mobile-menu, .modal{
    padding: 1.5rem 1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    z-index: 10;
    display: none;
}
.mobile-menu{
    background-color: var(--color-classic);
}
.modal .modal-container{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    background-color: var(--color-classic);
    z-index: 10;
}
.mobile-menu{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu .menu-header, .mobile-menu .menu-footer{
    width: 100%;
}
.mobile-menu .menu-header,.mobile-menu .menu-footer{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.mobile-menu .close-container, .modal .close-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close-container .close{
    padding: .5rem;
    border: 1px solid #E7E9FC;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mobile-menu .mobile-nav{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.mobile-menu .link{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary);
}
.mobile-menu ul{
    list-style-type: none;
}
/* Mobile Menu Header */

.mobile-nav .link{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: var(--secondary);
}
.mobile-menu li:first-child a{
    color: var(--primary);
}

/*Mobile Menu Footer*/

.mobile-menu{
    display: none;
}

.menu-footer .link{
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.menu-footer address ul{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.menu-footer .social-links{
    display: flex;
    row-gap: 2.5rem;
    column-gap: 1.5rem;

}
.menu-footer .social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary);
    border-radius: 50%;
}


/* Modal */
.modal{
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: .5rem 1rem;
}
.modal::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
    opacity: .7;
    z-index: 2;
}
.modal .close{
    background-color: #E7E9FC;
}
.modal-main{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

}
.modal .privacy{
    color: #8E8F99;
}
.modal-main .title{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--secondary);
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.contact .input-container{
    position: relative;
}

.contact .contact-label{
    font-size: .75rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: .875rem;
    color: #8E8F99;
    margin-bottom: .25rem;
}
.contact .privacy-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
    margin-top: .5rem;
    margin-bottom: 2.5rem;
}
.contact #privacy{
    width: 1rem;
    height: 1rem;
    border-radius: .25rem;
    border: 1px solid #8E8F99;
}
.contact .privacy .privacy-link{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary);
}
.input-container .icon{
    position: absolute;
    left: 1rem;
    top: .5rem;
    padding: 3px 0;
}

.contact input[type="text"],.contact input[type="tel"],.contact input[type="email"]{
    width: 100%;
    height: 2.5rem;
    border-radius: .25rem;
    border: 1px solid #8E8F99;
    outline: none;
    padding-left: 2.5rem;
    padding-right: 1rem;
}
.contact textarea{
    width: 100%;
    height: 6.6rem;
    border-radius: .25rem;
    border: 1px solid #8E8F99;
    padding: 1rem;
    outline: none;
    resize: none;
    font-size: .75rem;
    line-height: .875rem;
    font-weight: 400;
}
.contact textarea::placeholder{
    font-size: .75rem;
    line-height: .875rem;
    color: #8E8F99;
    letter-spacing: 4%;
}

.container-send{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .container-send .send-btn{
    padding: 1.2rem 4rem;
}
.is-open{
    display: flex;
}

